html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 15px;
  background-color: #f2f3f5;
}

.layui-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}

thead th{
    color: black;
    font-weight: 700 !important;
}

#form-add{
    /* text-align: center; */
    padding: 20px;

}
#form-edit{
    /* text-align: center; */
    padding: 20px;

}
